@import '@/assets/styles/variables';

.header {
  background-color: $green;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;

    > .header__logo {
      font-size: 28px;
      line-height: 33px;
      color: $white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
